div{
	background-color : white;
	margin-left:26%;
	margin-right:26%;
}

}
body {
	
    background-image: url("Images/back.png");
	.img{
	width:200px;
	height:200px;
	border-radius: 120px;
}
h4{
	font-family:"Courier New", Courier, monospace;
	
	
}
h3{
	font-family:"Courier New", Courier, monospace;
	
}