<!DOCTYPE html>
<html ng-app='app'>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="https://fieldsal.github.io/pie-chart.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
	<script>
		var app= angular.module('app', []);
		app.controller('MainCtrl', function($http){
			var vm = this;
			vm.data=false;
			vm.fetchData = function(user){
				vm.loading = true;
				$http.get('https://api.github.com/users/' + user.name).then(function(res){
				
					vm.data=true;
					vm.name=res.data.name;
					vm.photo=res.data.avatar_url;
					vm.location=res.data.location;
					vm.following=res.data.following;
					vm.followers=res.data.followers;
					vm.public_repos=res.data.public_repos;
					vm.email=res.data.email;
					vm.id=res.data.id;
					vm.login=res.data.login;
					vm.loading=false;
						
					
				})
				}
			})
		
	</script>	


</head>

<style>

.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 12px sans-serif;
}

div{
	background-color : white;
	margin-left:26%;
	margin-right:26%;
}
img{
	width:200px;
	height:200px;
	border-radius: 120px;
}
body {
	
    background-image: url("Images/back.png");
}
h4{
	font-family:"Courier New", Courier, monospace;
	
	
}
h3{
	font-family:"Courier New", Courier, monospace;
	
}
</style>


<body  ng-controller='MainCtrl as vm'>
<div>
<center>
	<label for = "enter">Enter a username</label>
	<input type="text" ng-model="user.name" name="enter">
	<button ng-click="vm.fetchData(user)">Go!</button>
		<h4 ng-if="vm.loading ===true">Loading...</h4>
	<h3 ng-hide="vm.data===false">Name:{{vm.name}}</h3>
	<img ng-hide="vm.data===false" ng-src = {{vm.photo}}>
	<h3 ng-hide="vm.data===false">Location:{{vm.location}}</h3>
	<h3 ng-hide="vm.data===false">Following: {{vm.following}}</h3>
	<h3 ng-hide="vm.data===false"> Followers: {{vm.followers}}</h3>
	<h3 ng-hide="vm.data===false"> Public Repos: {{vm.public_repos}}</h3>
	<h3 ng-hide="vm.data===false"> Email: {{vm.email}}</h3>
	<h3 ng-hide="vm.data===false"> Id: {{vm.id}}</h3>
	<h3 ng-hide="vm.data===false"> Login: {{vm.login}}</h3>
	<button ng-hide="vm.data===false" ng-click="graph.changeData()">My Repos</button>
	<br>
	<br>
</center>
</div>

<script  src="/gradientPie.js"></script>
<script src="/graph.js"></script>

</body>


</html>